extends layout

block content
  h1= title
  #sliders
    |RED___
    input(id="redslider", class="slider", type="range", max="255", value="255")
    output(id="redtext")
    br
    |GREEN_
    input(id="greenslider", class="slider", type="range", max="255", value="255")
    output(id="greentext")
    br
    |BLUE__
    input(id="blueslider", class="slider", type="range", max="255", value="255")
    output(id="bluetext")
