extends layout

block content
  h1= title
  #sliders
    |R
    input(id="redslider", class="slider", type="range", max="255", value="255")
    output(id="redtext")
    br
    |G
    input(id="greenslider", class="slider", type="range", max="255", value="255")
    output(id="greentext")
    br
    |B
    input(id="blueslider", class="slider", type="range", max="255", value="255")
    output(id="bluetext")
